<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
    <display-name>Artemis</display-name>
    <welcome-file-list>
        <welcome-file>signin.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>signIn</param-name>
        <param-value>servlets.helpers.SignInHelper</param-value>
    </context-param>
    <context-param>
        <param-name>signOut</param-name>
        <param-value>servlets.helpers.SignOutHelper</param-value>
    </context-param>
    <context-param>
        <param-name>feed</param-name>
        <param-value>servlets.helpers.FeedHelper</param-value>
    </context-param>
    <context-param>
        <param-name>post</param-name>
        <param-value>servlets.helpers.PostHelper</param-value>
    </context-param>
</web-app>